@charset "UTF-8";
/*------------------------------------
  Globals
------------------------------------*/
/* Text */

/* Puller */
.g-pull-50x-up {
  -webkit-transform: translateY(-51%);
          transform: translateY(-51%);
}

/* White v1 */

/* Orange Gradient */

/* Yellow Gradient */

/* Dark Purple Gradient */

/* Blue Gray Gradient */

/* Pink Gradient */

/* Pink-v2 Gradient */

/* Red Gradient */

/* Black Gradient */

/* Green Gradient */

/* Purple Gradient */

/* Pink Light Gradient */

/* Cyan Gradient */

/* Purple Gradient */

/* Primary Gradient */

/* Gray Gradient */

/* White Gradient */

/* White Gradient */

/* White Gradient */

/* White Gradient */

/* White Gradient */

/* Bluegray Gradient */

/* Bluegray Gradient */

/* Bluegray Gradient */

/* Secondary Gradient v1 */

/* Secondary Gradient v2 */

/* Radial Gradients (Ellipse)
------------------------------------*/
/* Lightblue Gradient */

/* Gray Gradient */

/* Gray Gradient */

/*  Radial Gradients (Circle)
------------------------------------*/
/* Lightblue Gradient */

/* Blue Gradient */

/* Dark Gray Gradient */

/*------------------------------------
  Background Colors
------------------------------------*/
/* Basic Colors
------------------------------------*/
/* Main Colors */

/* Main Secondary */
.g-bg-secondary {
  background-color: #fafafa !important;
}

/* Primary Colors */
.g-bg-primary {
  background-color: #72c02c !important;
}

/* Black Colors */

.g-bg-black-opacity-0_3--after::after {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.g-bg-black-opacity-0_4--after::after {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.g-bg-black-opacity-0_5--after::after {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.g-bg-black-opacity-0_7--after::after {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.g-bg-black-opacity-0_8 {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.g-bg-black-opacity-0_9 {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

/* White Colors */
.g-bg-white {
  background-color: #fff !important;
}

/* Gray Colors */
.g-bg-gray-dark-v1 {
  background-color: #111 !important;
}

.g-bg-gray-dark-v2--hover:hover {
  background-color: #333 !important;
}

.g-bg-gray-light-v4 {
  background-color: #eee !important;
}

.g-bg-gray-light-v5 {
  background-color: #f7f7f7 !important;
}

/* Transparent */

/* Complementary Colors
------------------------------------*/
/* Beige Colors */

/* Color Green */

/* Color Blue */

/* Color Light Blue */

/* Color Dark Blue */

/* Color Indigo */

/* Color Red */

/* Color Light Red */

/* Color Dark Red */

/* Color Purple */
.g-bg-purple {
  background-color: #9a69cb !important;
}

/* Color Dark Purple */

/* Color Pink */
.g-bg-pink {
  background-color: #e81c62 !important;
}

/* Color Orange */

/* Color Deep Orange */

/* Color Yellow */

/* Color Aqua */

/* Color Cyan */

/* Color Teal */
.g-bg-teal {
  background-color: #18ba9b !important;
}

/* Color Brown */

/* Color Blue Gray */

/*------------------------------------
  Background Colors Extended
------------------------------------*/

/*------------------------------------
  Social Background Colors
------------------------------------*/
/* Facebook */

/* Twitter */

/* Skype */

/* Pinterest */

/* Vine */

/* Youtube */

/* Google plus */

/* Dribbble */

/* VK */

/* Linkedin */

/* Instagram */

/*------------------------------------
  Images Grid
------------------------------------*/

/*------------------------------------
  Covers
------------------------------------*/
.g-bg-cover {
  position: relative;
}

.g-bg-cover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*------------------------------------
  Background Image Style
------------------------------------*/
.g-bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*------------------------------------
  Background Patterns
------------------------------------*/

/*------------------------------------
  Background Position
------------------------------------*/
.g-bg-pos-center {
  background-position: center;
}

.g-bg-pos-top-center {
  background-position: top center;
}

/*------------------------------------
  Background Repeat
------------------------------------*/

/*------------------------------------
  Background Size
------------------------------------*/
.g-bg-size-cover {
  background-size: cover !important;
}

/* Primary Colors */

/*------------------------------------
  Borders Default (solid)
------------------------------------*/

.g-brd-x {
  border-left: solid 1px transparent !important;
  border-right: solid 1px transparent !important;
}

.g-brd-y {
  border-top: solid 1px transparent !important;
  border-bottom: solid 1px transparent !important;
}

.g-brd-around {
  border: solid 1px transparent !important;
}

.g-brd-top {
  border-top: solid 1px transparent !important;
}

.g-brd-bottom {
  border-bottom: solid 1px transparent !important;
}

.g-brd-left {
  border-left: solid 1px transparent !important;
}

@media (min-width: 768px) {
  .g-brd-right--md {
    border-right: solid 1px transparent !important;
  }
}

@media (min-width: 992px) {
  /* P */
}

/*------------------------------------
  Borders None
------------------------------------*/

/*------------------------------------
  Border Style
------------------------------------*/
.g-brd-style-solid {
  border-style: solid !important;
}

/*------------------------------------
  Border Radius (Rounded Styles)
------------------------------------*/
/* Rounded Around */
.rounded-0 {
  border-radius: 0 !important;
}

.g-rounded-5 {
  border-radius: 5px !important;
}

/* Rounded Top */

/* Rounded Right */

/* Rounded Bottom */

/* Rounded Left */

/*------------------------------------
  Borders Default (dashed)
------------------------------------*/

/*------------------------------------
  Borders Default (dotted)
------------------------------------*/

/*------------------------------------
  Border Width
------------------------------------*/

.g-brd-1 {
  border-width: 1px !important;
}

.g-brd-2 {
  border-width: 2px !important;
}

.g-brd-3 {
  border-width: 3px !important;
}

.g-brd-10 {
  border-width: 10px !important;
}

/*------------------------------------
  Border Colors
------------------------------------*/
/* Basic Colors
------------------------------------*/
/* Primary Colors */
.g-brd-primary {
  border-color: #72c02c !important;
}

/* Main Colors */

/* Black Colors */

/* White Colors */
.g-brd-white {
  border-color: #fff !important;
}

.g-brd-white--hover:hover {
  border-color: #fff !important;
}

/* Gray Colors */

.g-brd-gray-dark-v2--hover:hover {
  border-color: #333 !important;
}

.g-brd-gray-light-v1 {
  border-color: #bbb !important;
}

.g-brd-gray-light-v2 {
  border-color: #ccc !important;
}

.g-brd-gray-light-v3 {
  border-color: #ddd !important;
}

.g-brd-gray-light-v4 {
  border-color: #eee !important;
}

/* Transparent */

/* Complementary Colors
------------------------------------*/
/* Color Green */

/* Color Blue */

/* Color Light Blue */

/* Color Dark Blue */

/* Color Indigo */

/* Color Red */

/* Color Light Red */

/* Color Dark Red */

/* Color Purple */

/* Color Dark Purple */

/* Color Pink */

/* Color Orange */

/* Color Deep Orange */

/* Color Yellow */

/* Color Aqua */

/* Color Cyan */

/* Color Teal */

/* Color Brown */

/* Color Blue Gray */

/* Primary Colors */

/* Black Colors */

/* White */

/* Gray Colors */

/* Transparent */

/* Complementary Colors
------------------------------------*/
/* Color Green */

/* Color Blue */

/* Color Light Blue */

/* Color Dark Blue */

/* Color Indigo */

/* Color Red */

/* Color Light Red */

/* Color Dark Red */

/* Color Purple */

/* Color Dark Purple */

/* Color Pink */

/* Color Orange */

/* Color Deep Orange */

/* Color Yellow */

/* Color Aqua */

/* Color Cyan */

/* Color Teal */

/* Color Brown */

/* Color Blue Gray */

/* O */

/*------------------------------------
  Social Border Colors
------------------------------------*/
/* Facebook */

/* Twitter */

/* Skype */

/* Pinterest */

/* Vine */

/* Youtube */

/* Google plus */

/* Dribbble */

/* VK */

/* Linkedin */

/* Instagram */

/*------------------------------------
  Border Gradient Colors
------------------------------------*/
/* Cyan Gradient */
.g-brd-cyan-gradient-opacity-v1 {
  -o-border-image: linear-gradient(160deg, rgba(0, 0, 153, 0.55) 0%, rgba(0, 190, 214, 0.6) 100%);
     border-image: linear-gradient(160deg, rgba(0, 0, 153, 0.55) 0%, rgba(0, 190, 214, 0.6) 100%);
  border-image-slice: 1;
}

/*------------------------------------
  Typography Font Family
------------------------------------*/

/*------------------------------------
  Typography Font Size
------------------------------------*/
.g-font-size-default {
  font-size: 1rem !important;
}

.g-font-size-9 {
  font-size: 0.64286rem !important;
}

.g-font-size-12 {
  font-size: 0.85714rem !important;
}

.g-font-size-14 {
  font-size: 1rem !important;
}

.g-font-size-15 {
  font-size: 1.07143rem !important;
}

.g-font-size-16 {
  font-size: 1.14286rem !important;
}

.g-font-size-17 {
  font-size: 1.21429rem !important;
}

.g-font-size-22 {
  font-size: 1.57143rem !important;
}

.g-font-size-26 {
  font-size: 1.85714rem !important;
}

.g-font-size-30 {
  font-size: 2.14286rem !important;
}

.g-font-size-50 {
  font-size: 3.57143rem !important;
}

@media (min-width: 768px) {
  .g-font-size-40--md {
    font-size: 2.85714rem !important;
  }
}

/*------------------------------------
  Typography Font Weight
------------------------------------*/

.g-font-weight-300 {
  font-weight: 300 !important;
}

.g-font-weight-400 {
  font-weight: 400 !important;
}

.g-font-weight-500 {
  font-weight: 500 !important;
}

.g-font-weight-600 {
  font-weight: 600 !important;
}

.g-font-weight-700 {
  font-weight: 700 !important;
}

/*------------------------------------
  Typography Text Transform
------------------------------------*/

/*------------------------------------
  Typography Text Decoration
------------------------------------*/

/*------------------------------------
  Typography Letter Spacing
------------------------------------*/

.g-letter-spacing-1 {
  letter-spacing: 0.07143rem;
}

/*------------------------------------
  Typography Line Height
------------------------------------*/

/*------------------------------------
  Typography Font Style
------------------------------------*/

/*------------------------------------
  List Style Types
------------------------------------*/

/*------------------------------------
  Text Types
------------------------------------*/

/*------------------------------------
  Quotes
------------------------------------*/
/* Quote v1 */

/*------------------------------------
  Positions
------------------------------------*/
.g-pos-rel {
  position: relative !important;
}

.g-pos-abs {
  position: absolute !important;
}

.g-pos-fix {
  position: fixed !important;
}

/*------------------------------------
  Position Spaces
------------------------------------*/
/* Top */

.g-top-20 {
  top: 1.42857rem;
}

/* Top Minis */

/* Left */

.g-left-0 {
  left: 0;
}

.g-left-20 {
  left: 1.42857rem;
}

/* Left Minus */

/* Right */

.g-right-0 {
  right: 0 !important;
}

/* Right Minus */

/* Bottom */

.g-bottom-0 {
  bottom: 0;
}

/* Z */

/* O */

/*------------------------------------
  Block Alignments
------------------------------------*/
/* Absolute (Position, X, Y) */

.g-absolute-centered--y {
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
}

/* O */

/* Relative (Position, X, Y) */

/* Flex centered */
.g-flex-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

/* Flex right */

/* Flex middle */
.g-flex-middle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.g-flex-middle-item {
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 768px) {
  /* Flex right */
}

/*------------------------------------
  Alignments
------------------------------------*/

/*------------------------------------
  Blur
------------------------------------*/
.g-blur-30 {
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

/*------------------------------------
  Box-shadows
------------------------------------*/

/*------------------------------------
  Clear
------------------------------------*/

/*------------------------------------
  Cursors
------------------------------------*/
.g-cursor-pointer {
  cursor: pointer;
}

/*------------------------------------
  Overflows
------------------------------------*/

/*------------------------------------
  Transitions
------------------------------------*/
/*.g-transition {
  &-0_2 {
    transition: .2s ease-out;
  }
  &-0_3 {
    transition: .3s ease-out;
  }
  &-0_6 {
    transition: .6s ease-out;
    &-ease {
      transition: .6s ease;
    }
  }
}

[class*="g-color-"][class*="--hover"] {
  transition: color .2s ease-out;
}
[class*="g-bg-"][class*="--hover"] {
  transition: background-color .3s ease-out;
}
[class*="g-color-"][class*="--hover"][class*="g-bg-"][class*="--hover"] {
  transition: .3s ease-out;
}*/
[class*="g-transition"] {
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
}

[class*="g-transition"]::before, [class*="g-transition"]::after {
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
}

svg[class*="g-transition"] path,
svg[class*="g-transition"] polygon {
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.g-transition-0_3 {
  transition-duration: .3s;
}

.g-transition-0_3::before, .g-transition-0_3::after {
  transition-duration: .3s;
}

svg.g-transition-0_3 path,
svg.g-transition-0_3 polygon {
  transition-duration: .3s;
}

/*------------------------------------
  Transforms
------------------------------------*/

/*------------------------------------
  Opacity
------------------------------------*/

.g-opacity-0_3 {
  opacity: .3 !important;
}

.u-block-hover:hover .g-opacity-1--hover, .g-opacity-1--hover:hover {
  opacity: 1 !important;
}

/*------------------------------------
  Z-Index
------------------------------------*/

.g-z-index-1 {
  z-index: 1;
}

.g-z-index-2 {
  z-index: 2;
}

.g-z-index-minus-1 {
  z-index: -1;
}

/*------------------------------------
  Resize
------------------------------------*/

/*------------------------------------
  Placeholder
------------------------------------*/

/*------------------------------------
  Offsets
------------------------------------*/

/*------------------------------------
  Colors
------------------------------------*/
/* Basic Colors
------------------------------------*/
/* Inherit Colors */

/* Main Colors */
.g-color-main {
  color: #555 !important;
}

/* Primary Colors */
.g-color-primary {
  color: #72c02c !important;
}

/* Secondary Colors */

/* Black Colors */
.g-color-black {
  color: #000 !important;
}

/* White Colors */
.g-color-white {
  color: #fff !important;
}

.u-block-hover:hover .g-color-white--hover, .g-color-white--hover:hover {
  color: #fff !important;
}

.g-color-white-opacity-0_5 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.g-color-white-opacity-0_7 {
  color: rgba(255, 255, 255, 0.7) !important;
}

.g-color-white-opacity-0_8 {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Gray Colors */
.g-color-gray-light-v1 {
  color: #bbb !important;
}

.g-color-gray-light-v2 {
  color: #ccc !important;
}

.g-color-gray-dark-v2 {
  color: #333 !important;
}

.g-color-gray-dark-v4 {
  color: #777 !important;
}

.g-color-gray-dark-v5 {
  color: #999 !important;
}

/* Complementary Colors
------------------------------------*/
/* Color Green */

/* Color Blue */

/* Color Light Blue */

/* Color Dark Blue */

/* Color Indigo */

/* Color Red */

/* Color Light Red */

/* Color Dark Red */

/* Color Purple */

/* Color Dark Purple */

/* Color Pink */

/* Color Orange */

/* Color Deep Orange */

/* Color Yellow */

/* Color Aqua */

/* Color Cyan */

/* Color Teal */

/* Color Brown */

/* Color Blue Gray */

/*------------------------------------
  Social Colors
------------------------------------*/
/* Facebook */
.g-color-facebook {
  color: #3b5998;
}

.g-color-facebook:hover {
  color: #344e86;
}

.g-color-facebook--hover:hover {
  color: #3b5998 !important;
}

/* Twitter */
.g-color-twitter {
  color: #00acee;
}

.g-color-twitter:hover {
  color: #009ad5;
}

.g-color-twitter--hover:hover {
  color: #00acee !important;
}

/* Skype */

/* Pinterest */
.g-color-pinterest {
  color: #c8232c;
}

.g-color-pinterest:hover {
  color: #b21f27;
}

.g-color-pinterest--hover:hover {
  color: #c8232c !important;
}

/* Vine */

/* Youtube */
.g-color-youtube {
  color: #c4302b;
}

.g-color-youtube:hover {
  color: #af2b26;
}

.g-color-youtube--hover:hover {
  color: #c4302b !important;
}

/* Google plus */

/* Dribbble */

/* VK */

/* Linkedin */
.g-color-linkedin {
  color: #0e76a8;
}

.g-color-linkedin:hover {
  color: #0c6590;
}

.g-color-linkedin--hover:hover {
  color: #0e76a8 !important;
}

/* Instagram */
.g-color-instagram {
  color: #3f729b;
}

.g-color-instagram:hover {
  color: #386589;
}

.g-color-instagram--hover:hover {
  color: #3f729b !important;
}

/*------------------------------------
  Gradient Colors
------------------------------------*/
/* Cyan Gradient */

/* Blue Gradient */

/*------------------------------------
  Widths
------------------------------------*/
/* Width in Percentage (%) */

@media (min-width: 768px) {
  /* P */
  .g-width-80x--md {
    width: 80% !important;
    /* P */
  }
}

/* Max Width in Percentage (%) */

/* Min Width in Percentage (%) */

/* Width Viewport Width (vw) */

/* Width in Pixels (px) */

.g-width-25 {
  width: 25px !important;
}

.g-width-30 {
  width: 30px !important;
  /* P */
}

.g-width-35 {
  width: 35px !important;
  /* P */
}

.g-width-70 {
  width: 70px !important;
  /* P */
}

.g-width-85 {
  width: 85px !important;
  /* P */
}

.g-width-120 {
  width: 120px !important;
  /* P */
}

.g-width-150 {
  width: 150px !important;
}

/* Max Width in Pixels (px) */

.g-max-width-645 {
  max-width: 645px;
}

.g-max-width-800 {
  max-width: 800px;
}

/* Min Width in Pixels (px) */

@media (min-width: 768px) {
  .g-width-80x--md {
    width: 80% !important;
    /* R */
  }
}

/*------------------------------------
  Heights
------------------------------------*/
/* Height in Percentage (%) */

/* Max Height in Percentage (%) */

/* Max Height in Viewport Height (vh) */

/* Min Height in Percentage (%) */

/* Height  in Viewport Height (vh) */

/* Min Height in Viewport Height (vh) */

.g-min-height-80vh {
  min-height: 80vh;
}

.g-min-height-100vh {
  min-height: 100vh;
}

/* Auto Height */

/* Height in Pixels (px) */

.g-height-2 {
  height: 2px;
}

.g-height-25 {
  height: 25px;
}

.g-height-70 {
  height: 70px;
}

.g-height-85 {
  height: 85px;
}

/* Min Height in Pixels (px) */

.g-min-height-300 {
  min-height: 300px;
}

.g-min-height-360 {
  min-height: 360px;
}

.g-min-height-400 {
  min-height: 400px;
}

/*------------------------------------
  Margin Spaces
------------------------------------*/
/* Margin Spaces (xs)
------------------------------------*/
@media (min-width: 0) {
  .g-mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .g-mb-0 {
    margin-bottom: 0 !important;
  }
  .g-mx-10 {
    margin-left: 0.71429rem !important;
    margin-right: 0.71429rem !important;
  }
  .g-mx-10 {
    margin-left: 0.71429rem !important;
    margin-right: 0.71429rem !important;
  }
  .g-my-15 {
    margin-top: 1.07143rem !important;
    margin-bottom: 1.07143rem !important;
  }
  .g-my-80 {
    margin-top: 5.71429rem !important;
    margin-bottom: 5.71429rem !important;
  }
  .g-mt-3 {
    margin-top: 0.21429rem !important;
  }
  .g-mt-5 {
    margin-top: 0.35714rem !important;
  }
  .g-mb-5 {
    margin-bottom: 0.35714rem !important;
  }
  .g-mb-10 {
    margin-bottom: 0.71429rem !important;
  }
  .g-mb-15 {
    margin-bottom: 1.07143rem !important;
  }
  .g-mb-20 {
    margin-bottom: 1.42857rem !important;
  }
  .g-mb-10 {
    margin-bottom: 0.71429rem !important;
  }
  .g-mb-15 {
    margin-bottom: 1.07143rem !important;
  }
  .g-mb-20 {
    margin-bottom: 1.42857rem !important;
  }
  .g-mb-25 {
    margin-bottom: 1.78571rem !important;
  }
  .g-mb-30 {
    margin-bottom: 2.14286rem !important;
  }
  .g-mb-35 {
    margin-bottom: 2.5rem !important;
  }
  .g-mb-40 {
    margin-bottom: 2.85714rem !important;
  }
  .g-mb-50 {
    margin-bottom: 3.57143rem !important;
  }
  .g-mb-60 {
    margin-bottom: 4.28571rem !important;
  }
  .g-mb-65 {
    margin-bottom: 4.64286rem !important;
  }
  .g-mb-70 {
    margin-bottom: 5rem !important;
  }
  .g-ml-5 {
    margin-left: 0.35714rem !important;
  }
  .g-ml-5 {
    margin-left: 0.35714rem !important;
  }
  .g-mr-10 {
    margin-right: 0.71429rem !important;
  }
  .g-mr-10 {
    margin-right: 0.71429rem !important;
  }
  .g-mr-15 {
    margin-right: 1.07143rem !important;
  }
}

/* Margin Spaces (sm)
------------------------------------*/
@media (min-width: 576px) {
  .g-mb-0--sm {
    margin-bottom: 0 !important;
  }
}

/* Margin Spaces (md)
------------------------------------*/
@media (min-width: 768px) {
  .g-mb-0--md {
    margin-bottom: 0 !important;
  }
}

/* Margin Spaces (lg)
------------------------------------*/
@media (min-width: 992px) {
  .g-mb-0--lg {
    margin-bottom: 0 !important;
  }
}

/* Margin Spaces (xl)
------------------------------------*/
/* P */

/* Margins Around
------------------------------------*/

/* Minus Margins
------------------------------------*/
/* Minus Margin Top */

/* Minus Margin Bottom */

/* Minus Margin Left */

/* Minus Margin Right */

/* Margin Left and Right */

/* Custon Spaces
------------------------------------*/
/* Margin Top */

/* Margin Bottom */

/* Margin Left */

/* Margin Right */

/* Margin Left and Right */

/* Margin Top and Bottom */

.g-m-reset {
  margin: 0 !important;
}

@media (min-width: 576px) {
  .g-mb-0--sm {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
  .g-mb-0--md {
    margin-bottom: 0 !important;
  }
}

/*------------------------------------
  Margins Extended
------------------------------------*/
@media (min-width: 992px) {
  /* Margin Top */
}

/*------------------------------------
  Padding Spaces
------------------------------------*/
/* Padding Spaces (xs)
------------------------------------*/
@media (min-width: 0) {
  .g-pa-0 {
    padding: 0 !important;
  }
  /* Padding Around */
  .g-pa-10 {
    padding: 0.71429rem !important;
  }
  .g-pa-20 {
    padding: 1.42857rem !important;
  }
  .g-pa-30 {
    padding: 2.14286rem !important;
  }
  .g-pa-40 {
    padding: 2.85714rem !important;
  }
  .g-pa-50 {
    padding: 3.57143rem !important;
  }
  .g-pa-60 {
    padding: 4.28571rem !important;
  }
  .g-pa-80 {
    padding: 5.71429rem !important;
  }
  /* Padding X */
  .g-px-10 {
    padding-left: 0.71429rem !important;
    padding-right: 0.71429rem !important;
  }
  .g-px-10 {
    padding-left: 0.71429rem !important;
    padding-right: 0.71429rem !important;
  }
  .g-px-30 {
    padding-left: 2.14286rem !important;
    padding-right: 2.14286rem !important;
  }
  .g-px-40 {
    padding-left: 2.85714rem !important;
    padding-right: 2.85714rem !important;
  }
  .g-px-50 {
    padding-left: 3.57143rem !important;
    padding-right: 3.57143rem !important;
  }
  /* Padding Y */
  .g-py-4 {
    padding-top: 0.28571rem !important;
    padding-bottom: 0.28571rem !important;
  }
  /* P */
  /* P */
  /* P */
  .g-py-20 {
    padding-top: 1.42857rem !important;
    padding-bottom: 1.42857rem !important;
  }
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  .g-py-50 {
    padding-top: 3.57143rem !important;
    padding-bottom: 3.57143rem !important;
  }
  /* P */
  /* P */
  .g-py-60 {
    padding-top: 4.28571rem !important;
    padding-bottom: 4.28571rem !important;
  }
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  .g-py-100 {
    padding-top: 7.14286rem !important;
    padding-bottom: 7.14286rem !important;
  }
  /* P */
  /* P */
  /* P */
  /* P */
  .g-py-120 {
    padding-top: 8.57143rem !important;
    padding-bottom: 8.57143rem !important;
  }
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Top */
  .g-pt-30 {
    padding-top: 2.14286rem !important;
  }
  .g-pt-80 {
    padding-top: 5.71429rem !important;
  }
  .g-pt-100 {
    padding-top: 7.14286rem !important;
  }
  .g-pt-110 {
    padding-top: 7.85714rem !important;
  }
  /* Padding Right */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Bottom */
  .g-pb-30 {
    padding-bottom: 2.14286rem !important;
  }
  .g-pb-40 {
    padding-bottom: 2.85714rem !important;
  }
  .g-pb-50 {
    padding-bottom: 3.57143rem !important;
  }
  .g-pb-60 {
    padding-bottom: 4.28571rem !important;
  }
  /* Padding Left */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
}

/* Padding Spaces (sm)
------------------------------------*/
@media (min-width: 576px) {
  /* Padding Around */
  /* Padding X */
  /* Padding Y */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Top */
  /* Padding Right */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Bottom */
  /* Padding Left */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
}

/* Padding Spaces (md)
------------------------------------*/
/* P */
@media (min-width: 768px) {
  /* Padding Around */
  /* Padding X */
  /* Padding Y */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  .g-py-50--md {
    padding-top: 3.57143rem !important;
    padding-bottom: 3.57143rem !important;
  }
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Top */
  /* Padding Right */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Bottom */
  /* Padding Left */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
}

/* Padding Spaces (lg) P
------------------------------------*/
/* P */
@media (min-width: 992px) {
  /* Padding Around */
  /* Padding X */
  /* Padding Y */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Top */
  /* Padding Right */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Bottom */
  /* Padding Left */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
}

/* Padding Spaces (xl) P
------------------------------------*/
@media (min-width: 1200px) {
  /* Padding Around */
  /* Padding X */
  /* Padding Y */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Top */
  /* Padding Right */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* Padding Bottom */
  /* Padding Left */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
  /* P */
}

/* Custom Paddings (xs)
------------------------------------*/

.g-pa-40 {
  padding: 2.85714rem !important;
}

/* Custom Paddings (sm)
------------------------------------*/

/* Custom Paddings (md)
------------------------------------*/

/* Custom Paddings (lg)
------------------------------------*/

/* Custom Paddings (xl)
------------------------------------*/

/*------------------------------------
  Block Hidden
------------------------------------*/
